.section-footer {
	padding-top: 50px;
	height: 150px;
	.navbar {
		position: relative;
		left: 0;
		top: 0;
		&::before {
			content: "";
			display: block;
			width: 200px;
			height: 30px;
			position: absolute;
			background: url("../../../public/icons/Beans_logo-black.svg");
			left: 50%;
			transform: translateX(-50%);
			top: 50px;
		}
	}
}
