.filter {
	&-btn {
		border: none;
		padding: 0;
		outline: inherit;
		width: 75px;
		height: 30px;
		background: #ffffff;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 4px 0px 0px 4px;
		margin-right: 5px;
		font-family: "Merienda";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		text-align: center;
		color: #000000;
		&:last-child {
			margin-right: 0;
		}
		&:first-child {
			margin-left: 34px;
		}
	}
}
