.store {
	&-item {
		width: 220px;
		padding: 36px 27px 23px 27px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
		background: #ffffff;
		transition: 0.5s all;
		border-radius: 8px;
		&:hover {
			filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25));
		}
		&_name {
			font-family: "Merienda";
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			text-align: center;
			color: #000000;
		}
		&_sort {
			font-family: "Merienda";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-align: right;
			color: #000000;
		}
		&_price {
			font-family: "Merienda";
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			text-align: right;
			color: #000000;
		}
	}
}
